name: phosphor_icons
description: Phosphor Icon package for flutter.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  fonts:
    - family: Schyler
      fonts:
        - asset: fonts/TrajanPro.ttf
