@font-face {
  font-family: "phosphor";
  src: url("fonts/phosphor.eot?t=1614489173430"); /* IE9*/
  src: url("fonts/phosphor.eot?t=1614489173430#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/phosphor.woff?t=1614489173430") format("woff"),
  url("fonts/phosphor.ttf?t=1614489173430") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("fonts/phosphor.svg?t=1614489173430#phosphor") format("svg"); /* iOS 4.1- */
}

[class^="ph-"], [class*=" ph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'phosphor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ph-activity-duotone:before { content: "\ea01"; }
.ph-airplane-duotone:before { content: "\ea02"; }
.ph-airplane-in-flight-duotone:before { content: "\ea03"; }
.ph-airplane-landing-duotone:before { content: "\ea04"; }
.ph-airplane-takeoff-duotone:before { content: "\ea05"; }
.ph-airplay-duotone:before { content: "\ea06"; }
.ph-alarm-duotone:before { content: "\ea07"; }
.ph-align-bottom-duotone:before { content: "\ea08"; }
.ph-align-center-horizontal-duotone:before { content: "\ea09"; }
.ph-align-center-vertical-duotone:before { content: "\ea0a"; }
.ph-align-left-duotone:before { content: "\ea0b"; }
.ph-align-right-duotone:before { content: "\ea0c"; }
.ph-align-top-duotone:before { content: "\ea0d"; }
.ph-anchor-duotone:before { content: "\ea0e"; }
.ph-android-logo-duotone:before { content: "\ea0f"; }
.ph-aperture-duotone:before { content: "\ea10"; }
.ph-apple-logo-duotone:before { content: "\ea11"; }
.ph-archive-box-duotone:before { content: "\ea12"; }
.ph-archive-duotone:before { content: "\ea13"; }
.ph-archive-tray-duotone:before { content: "\ea14"; }
.ph-arrow-arc-left-duotone:before { content: "\ea15"; }
.ph-arrow-arc-right-duotone:before { content: "\ea16"; }
.ph-arrow-bend-double-up-left-duotone:before { content: "\ea17"; }
.ph-arrow-bend-double-up-right-duotone:before { content: "\ea18"; }
.ph-arrow-bend-down-left-duotone:before { content: "\ea19"; }
.ph-arrow-bend-down-right-duotone:before { content: "\ea1a"; }
.ph-arrow-bend-left-down-duotone:before { content: "\ea1b"; }
.ph-arrow-bend-left-up-duotone:before { content: "\ea1c"; }
.ph-arrow-bend-right-down-duotone:before { content: "\ea1d"; }
.ph-arrow-bend-right-up-duotone:before { content: "\ea1e"; }
.ph-arrow-bend-up-left-duotone:before { content: "\ea1f"; }
.ph-arrow-bend-up-right-duotone:before { content: "\ea20"; }
.ph-arrow-circle-down-duotone:before { content: "\ea21"; }
.ph-arrow-circle-down-left-duotone:before { content: "\ea22"; }
.ph-arrow-circle-down-right-duotone:before { content: "\ea23"; }
.ph-arrow-circle-left-duotone:before { content: "\ea24"; }
.ph-arrow-circle-right-duotone:before { content: "\ea25"; }
.ph-arrow-circle-up-duotone:before { content: "\ea26"; }
.ph-arrow-circle-up-left-duotone:before { content: "\ea27"; }
.ph-arrow-circle-up-right-duotone:before { content: "\ea28"; }
.ph-arrow-clockwise-duotone:before { content: "\ea29"; }
.ph-arrow-counter-clockwise-duotone:before { content: "\ea2a"; }
.ph-arrow-down-duotone:before { content: "\ea2b"; }
.ph-arrow-down-left-duotone:before { content: "\ea2c"; }
.ph-arrow-down-right-duotone:before { content: "\ea2d"; }
.ph-arrow-elbow-down-left-duotone:before { content: "\ea2e"; }
.ph-arrow-elbow-down-right-duotone:before { content: "\ea2f"; }
.ph-arrow-elbow-left-down-duotone:before { content: "\ea30"; }
.ph-arrow-elbow-left-duotone:before { content: "\ea31"; }
.ph-arrow-elbow-left-up-duotone:before { content: "\ea32"; }
.ph-arrow-elbow-right-down-duotone:before { content: "\ea33"; }
.ph-arrow-elbow-right-duotone:before { content: "\ea34"; }
.ph-arrow-elbow-right-up-duotone:before { content: "\ea35"; }
.ph-arrow-elbow-up-left-duotone:before { content: "\ea36"; }
.ph-arrow-elbow-up-right-duotone:before { content: "\ea37"; }
.ph-arrow-fat-down-duotone:before { content: "\ea38"; }
.ph-arrow-fat-left-duotone:before { content: "\ea39"; }
.ph-arrow-fat-line-down-duotone:before { content: "\ea3a"; }
.ph-arrow-fat-line-left-duotone:before { content: "\ea3b"; }
.ph-arrow-fat-line-right-duotone:before { content: "\ea3c"; }
.ph-arrow-fat-line-up-duotone:before { content: "\ea3d"; }
.ph-arrow-fat-lines-down-duotone:before { content: "\ea3e"; }
.ph-arrow-fat-lines-left-duotone:before { content: "\ea3f"; }
.ph-arrow-fat-lines-right-duotone:before { content: "\ea40"; }
.ph-arrow-fat-lines-up-duotone:before { content: "\ea41"; }
.ph-arrow-fat-right-duotone:before { content: "\ea42"; }
.ph-arrow-fat-up-duotone:before { content: "\ea43"; }
.ph-arrow-left-duotone:before { content: "\ea44"; }
.ph-arrow-line-down-duotone:before { content: "\ea45"; }
.ph-arrow-line-down-left-duotone:before { content: "\ea46"; }
.ph-arrow-line-down-right-duotone:before { content: "\ea47"; }
.ph-arrow-line-left-duotone:before { content: "\ea48"; }
.ph-arrow-line-right-duotone:before { content: "\ea49"; }
.ph-arrow-line-up-duotone:before { content: "\ea4a"; }
.ph-arrow-line-up-left-duotone:before { content: "\ea4b"; }
.ph-arrow-line-up-right-duotone:before { content: "\ea4c"; }
.ph-arrow-right-duotone:before { content: "\ea4d"; }
.ph-arrow-square-down-duotone:before { content: "\ea4e"; }
.ph-arrow-square-down-left-duotone:before { content: "\ea4f"; }
.ph-arrow-square-down-right-duotone:before { content: "\ea50"; }
.ph-arrow-square-left-duotone:before { content: "\ea51"; }
.ph-arrow-square-right-duotone:before { content: "\ea52"; }
.ph-arrow-square-up-duotone:before { content: "\ea53"; }
.ph-arrow-square-up-left-duotone:before { content: "\ea54"; }
.ph-arrow-square-up-right-duotone:before { content: "\ea55"; }
.ph-arrow-u-down-left-duotone:before { content: "\ea56"; }
.ph-arrow-u-down-right-duotone:before { content: "\ea57"; }
.ph-arrow-u-left-down-duotone:before { content: "\ea58"; }
.ph-arrow-u-left-up-duotone:before { content: "\ea59"; }
.ph-arrow-u-right-down-duotone:before { content: "\ea5a"; }
.ph-arrow-u-right-up-duotone:before { content: "\ea5b"; }
.ph-arrow-u-up-left-duotone:before { content: "\ea5c"; }
.ph-arrow-u-up-right-duotone:before { content: "\ea5d"; }
.ph-arrow-up-duotone:before { content: "\ea5e"; }
.ph-arrow-up-left-duotone:before { content: "\ea5f"; }
.ph-arrow-up-right-duotone:before { content: "\ea60"; }
.ph-arrows-clockwise-duotone:before { content: "\ea61"; }
.ph-arrows-counter-clockwise-duotone:before { content: "\ea62"; }
.ph-arrows-down-up-duotone:before { content: "\ea63"; }
.ph-arrows-in-cardinal-duotone:before { content: "\ea64"; }
.ph-arrows-in-duotone:before { content: "\ea65"; }
.ph-arrows-in-line-horizontal-duotone:before { content: "\ea66"; }
.ph-arrows-in-line-vertical-duotone:before { content: "\ea67"; }
.ph-arrows-in-simple-duotone:before { content: "\ea68"; }
.ph-arrows-left-right-duotone:before { content: "\ea69"; }
.ph-arrows-out-cardinal-duotone:before { content: "\ea6a"; }
.ph-arrows-out-duotone:before { content: "\ea6b"; }
.ph-arrows-out-line-horizontal-duotone:before { content: "\ea6c"; }
.ph-arrows-out-line-vertical-duotone:before { content: "\ea6d"; }
.ph-arrows-out-simple-duotone:before { content: "\ea6e"; }
.ph-article-duotone:before { content: "\ea6f"; }
.ph-asterisk-duotone:before { content: "\ea70"; }
.ph-at-duotone:before { content: "\ea71"; }
.ph-backspace-duotone:before { content: "\ea72"; }
.ph-bag-duotone:before { content: "\ea73"; }
.ph-bandaids-duotone:before { content: "\ea74"; }
.ph-bank-duotone:before { content: "\ea75"; }
.ph-barbell-duotone:before { content: "\ea76"; }
.ph-barcode-duotone:before { content: "\ea77"; }
.ph-battery-charging-duotone:before { content: "\ea78"; }
.ph-battery-charging-vertical-duotone:before { content: "\ea79"; }
.ph-battery-empty-duotone:before { content: "\ea7a"; }
.ph-battery-full-duotone:before { content: "\ea7b"; }
.ph-battery-high-duotone:before { content: "\ea7c"; }
.ph-battery-low-duotone:before { content: "\ea7d"; }
.ph-battery-medium-duotone:before { content: "\ea7e"; }
.ph-battery-warning-duotone:before { content: "\ea7f"; }
.ph-battery-warning-vertical-duotone:before { content: "\ea80"; }
.ph-bed-duotone:before { content: "\ea81"; }
.ph-bell-duotone:before { content: "\ea82"; }
.ph-bell-simple-duotone:before { content: "\ea83"; }
.ph-bell-simple-slash-duotone:before { content: "\ea84"; }
.ph-bell-slash-duotone:before { content: "\ea85"; }
.ph-bicycle-duotone:before { content: "\ea86"; }
.ph-bluetooth-connected-duotone:before { content: "\ea87"; }
.ph-bluetooth-duotone:before { content: "\ea88"; }
.ph-bluetooth-slash-duotone:before { content: "\ea89"; }
.ph-bluetooth-x-duotone:before { content: "\ea8a"; }
.ph-book-bookmark-duotone:before { content: "\ea8b"; }
.ph-book-duotone:before { content: "\ea8c"; }
.ph-book-open-duotone:before { content: "\ea8d"; }
.ph-bookmark-duotone:before { content: "\ea8e"; }
.ph-bookmark-simple-duotone:before { content: "\ea8f"; }
.ph-bookmarks-duotone:before { content: "\ea90"; }
.ph-briefcase-duotone:before { content: "\ea91"; }
.ph-briefcase-simple-duotone:before { content: "\ea92"; }
.ph-broadcast-duotone:before { content: "\ea93"; }
.ph-browser-duotone:before { content: "\ea94"; }
.ph-browsers-duotone:before { content: "\ea95"; }
.ph-browsers-simple-duotone:before { content: "\ea96"; }
.ph-buildings-duotone:before { content: "\ea97"; }
.ph-bus-duotone:before { content: "\ea98"; }
.ph-calculator-duotone:before { content: "\ea99"; }
.ph-calendar-blank-duotone:before { content: "\ea9a"; }
.ph-calendar-duotone:before { content: "\ea9b"; }
.ph-calendar-x-duotone:before { content: "\ea9c"; }
.ph-camera-duotone:before { content: "\ea9d"; }
.ph-camera-slash-duotone:before { content: "\ea9e"; }
.ph-car-duotone:before { content: "\ea9f"; }
.ph-car-simple-duotone:before { content: "\eaa0"; }
.ph-caret-circle-double-down-duotone:before { content: "\eaa1"; }
.ph-caret-circle-double-left-duotone:before { content: "\eaa2"; }
.ph-caret-circle-double-right-duotone:before { content: "\eaa3"; }
.ph-caret-circle-double-up-duotone:before { content: "\eaa4"; }
.ph-caret-circle-down-duotone:before { content: "\eaa5"; }
.ph-caret-circle-left-duotone:before { content: "\eaa6"; }
.ph-caret-circle-right-duotone:before { content: "\eaa7"; }
.ph-caret-circle-up-duotone:before { content: "\eaa8"; }
.ph-caret-double-down-duotone:before { content: "\eaa9"; }
.ph-caret-double-left-duotone:before { content: "\eaaa"; }
.ph-caret-double-right-duotone:before { content: "\eaab"; }
.ph-caret-double-up-duotone:before { content: "\eaac"; }
.ph-caret-down-duotone:before { content: "\eaad"; }
.ph-caret-left-duotone:before { content: "\eaae"; }
.ph-caret-right-duotone:before { content: "\eaaf"; }
.ph-caret-up-duotone:before { content: "\eab0"; }
.ph-cell-signal-full-duotone:before { content: "\eab1"; }
.ph-cell-signal-high-duotone:before { content: "\eab2"; }
.ph-cell-signal-low-duotone:before { content: "\eab3"; }
.ph-cell-signal-medium-duotone:before { content: "\eab4"; }
.ph-cell-signal-none-duotone:before { content: "\eab5"; }
.ph-cell-signal-slash-duotone:before { content: "\eab6"; }
.ph-cell-signal-x-duotone:before { content: "\eab7"; }
.ph-chart-bar-duotone:before { content: "\eab8"; }
.ph-chart-bar-horizontal-duotone:before { content: "\eab9"; }
.ph-chart-line-duotone:before { content: "\eaba"; }
.ph-chart-line-up-duotone:before { content: "\eabb"; }
.ph-chart-pie-duotone:before { content: "\eabc"; }
.ph-chart-pie-slice-duotone:before { content: "\eabd"; }
.ph-chat-centered-dots-duotone:before { content: "\eabe"; }
.ph-chat-centered-duotone:before { content: "\eabf"; }
.ph-chat-centered-text-duotone:before { content: "\eac0"; }
.ph-chat-circle-dots-duotone:before { content: "\eac1"; }
.ph-chat-circle-duotone:before { content: "\eac2"; }
.ph-chat-circle-text-duotone:before { content: "\eac3"; }
.ph-chat-dots-duotone:before { content: "\eac4"; }
.ph-chat-duotone:before { content: "\eac5"; }
.ph-chat-teardrop-dots-duotone:before { content: "\eac6"; }
.ph-chat-teardrop-duotone:before { content: "\eac7"; }
.ph-chat-teardrop-text-duotone:before { content: "\eac8"; }
.ph-chat-text-duotone:before { content: "\eac9"; }
.ph-chats-circle-duotone:before { content: "\eaca"; }
.ph-chats-duotone:before { content: "\eacb"; }
.ph-chats-teardrop-duotone:before { content: "\eacc"; }
.ph-check-circle-duotone:before { content: "\eacd"; }
.ph-check-duotone:before { content: "\eace"; }
.ph-check-square-duotone:before { content: "\eacf"; }
.ph-check-square-offset-duotone:before { content: "\ead0"; }
.ph-checks-duotone:before { content: "\ead1"; }
.ph-circle-duotone:before { content: "\ead2"; }
.ph-circle-half-duotone:before { content: "\ead3"; }
.ph-circle-half-tilt-duotone:before { content: "\ead4"; }
.ph-circles-four-duotone:before { content: "\ead5"; }
.ph-circles-three-duotone:before { content: "\ead6"; }
.ph-circles-three-plus-duotone:before { content: "\ead7"; }
.ph-clipboard-duotone:before { content: "\ead8"; }
.ph-clipboard-text-duotone:before { content: "\ead9"; }
.ph-clock-afternoon-duotone:before { content: "\eada"; }
.ph-clock-clockwise-duotone:before { content: "\eadb"; }
.ph-clock-counter-clockwise-duotone:before { content: "\eadc"; }
.ph-clock-duotone:before { content: "\eadd"; }
.ph-closed-captioning-duotone:before { content: "\eade"; }
.ph-cloud-arrow-down-duotone:before { content: "\eadf"; }
.ph-cloud-arrow-up-duotone:before { content: "\eae0"; }
.ph-cloud-check-duotone:before { content: "\eae1"; }
.ph-cloud-duotone:before { content: "\eae2"; }
.ph-cloud-fog-duotone:before { content: "\eae3"; }
.ph-cloud-lightning-duotone:before { content: "\eae4"; }
.ph-cloud-moon-duotone:before { content: "\eae5"; }
.ph-cloud-rain-duotone:before { content: "\eae6"; }
.ph-cloud-slash-duotone:before { content: "\eae7"; }
.ph-cloud-snow-duotone:before { content: "\eae8"; }
.ph-cloud-sun-duotone:before { content: "\eae9"; }
.ph-club-duotone:before { content: "\eaea"; }
.ph-code-duotone:before { content: "\eaeb"; }
.ph-code-simple-duotone:before { content: "\eaec"; }
.ph-coffee-duotone:before { content: "\eaed"; }
.ph-columns-duotone:before { content: "\eaee"; }
.ph-command-duotone:before { content: "\eaef"; }
.ph-compass-duotone:before { content: "\eaf0"; }
.ph-computer-tower-duotone:before { content: "\eaf1"; }
.ph-copy-duotone:before { content: "\eaf2"; }
.ph-copy-simple-duotone:before { content: "\eaf3"; }
.ph-copyright-duotone:before { content: "\eaf4"; }
.ph-corners-in-duotone:before { content: "\eaf5"; }
.ph-corners-out-duotone:before { content: "\eaf6"; }
.ph-credit-card-duotone:before { content: "\eaf7"; }
.ph-crop-duotone:before { content: "\eaf8"; }
.ph-crosshair-duotone:before { content: "\eaf9"; }
.ph-crosshair-simple-duotone:before { content: "\eafa"; }
.ph-cube-duotone:before { content: "\eafb"; }
.ph-currency-circle-dollar-duotone:before { content: "\eafc"; }
.ph-currency-cny-duotone:before { content: "\eafd"; }
.ph-currency-dollar-duotone:before { content: "\eafe"; }
.ph-currency-dollar-simple-duotone:before { content: "\eaff"; }
.ph-currency-eur-duotone:before { content: "\eb00"; }
.ph-currency-gbp-duotone:before { content: "\eb01"; }
.ph-currency-inr-duotone:before { content: "\eb02"; }
.ph-currency-jpy-duotone:before { content: "\eb03"; }
.ph-currency-krw-duotone:before { content: "\eb04"; }
.ph-currency-rub-duotone:before { content: "\eb05"; }
.ph-cursor-duotone:before { content: "\eb06"; }
.ph-database-duotone:before { content: "\eb07"; }
.ph-desktop-duotone:before { content: "\eb08"; }
.ph-desktop-tower-duotone:before { content: "\eb09"; }
.ph-device-mobile-camera-duotone:before { content: "\eb0a"; }
.ph-device-mobile-duotone:before { content: "\eb0b"; }
.ph-device-mobile-speaker-duotone:before { content: "\eb0c"; }
.ph-device-tablet-camera-duotone:before { content: "\eb0d"; }
.ph-device-tablet-duotone:before { content: "\eb0e"; }
.ph-device-tablet-speaker-duotone:before { content: "\eb0f"; }
.ph-diamond-duotone:before { content: "\eb10"; }
.ph-dice-five-duotone:before { content: "\eb11"; }
.ph-dice-four-duotone:before { content: "\eb12"; }
.ph-dice-one-duotone:before { content: "\eb13"; }
.ph-dice-six-duotone:before { content: "\eb14"; }
.ph-dice-three-duotone:before { content: "\eb15"; }
.ph-dice-two-duotone:before { content: "\eb16"; }
.ph-disc-duotone:before { content: "\eb17"; }
.ph-divide-duotone:before { content: "\eb18"; }
.ph-dots-nine-duotone:before { content: "\eb19"; }
.ph-dots-three-circle-duotone:before { content: "\eb1a"; }
.ph-dots-three-circle-vertical-duotone:before { content: "\eb1b"; }
.ph-dots-three-duotone:before { content: "\eb1c"; }
.ph-dots-three-outline-duotone:before { content: "\eb1d"; }
.ph-dots-three-outline-vertical-duotone:before { content: "\eb1e"; }
.ph-dots-three-vertical-duotone:before { content: "\eb1f"; }
.ph-download-duotone:before { content: "\eb20"; }
.ph-download-simple-duotone:before { content: "\eb21"; }
.ph-dribbble-logo-duotone:before { content: "\eb22"; }
.ph-drop-duotone:before { content: "\eb23"; }
.ph-drop-half-duotone:before { content: "\eb24"; }
.ph-eject-duotone:before { content: "\eb25"; }
.ph-envelope-duotone:before { content: "\eb26"; }
.ph-envelope-open-duotone:before { content: "\eb27"; }
.ph-envelope-simple-duotone:before { content: "\eb28"; }
.ph-envelope-simple-open-duotone:before { content: "\eb29"; }
.ph-equals-duotone:before { content: "\eb2a"; }
.ph-eraser-duotone:before { content: "\eb2b"; }
.ph-eye-closed-duotone:before { content: "\eb2c"; }
.ph-eye-duotone:before { content: "\eb2d"; }
.ph-eye-slash-duotone:before { content: "\eb2e"; }
.ph-eyedropper-duotone:before { content: "\eb2f"; }
.ph-face-mask-duotone:before { content: "\eb30"; }
.ph-facebook-logo-duotone:before { content: "\eb31"; }
.ph-faders-duotone:before { content: "\eb32"; }
.ph-faders-horizontal-duotone:before { content: "\eb33"; }
.ph-fast-forward-circle-duotone:before { content: "\eb34"; }
.ph-figma-logo-duotone:before { content: "\eb35"; }
.ph-file-arrow-down-duotone:before { content: "\eb36"; }
.ph-file-duotone:before { content: "\eb37"; }
.ph-file-minus-duotone:before { content: "\eb38"; }
.ph-file-plus-duotone:before { content: "\eb39"; }
.ph-file-search-duotone:before { content: "\eb3a"; }
.ph-file-text-duotone:before { content: "\eb3b"; }
.ph-file-x-duotone:before { content: "\eb3c"; }
.ph-fingerprint-duotone:before { content: "\eb3d"; }
.ph-fingerprint-simple-duotone:before { content: "\eb3e"; }
.ph-finn-the-human-duotone:before { content: "\eb3f"; }
.ph-fire-duotone:before { content: "\eb40"; }
.ph-first-aid-duotone:before { content: "\eb41"; }
.ph-first-aid-kit-duotone:before { content: "\eb42"; }
.ph-flag-duotone:before { content: "\eb43"; }
.ph-flashlight-duotone:before { content: "\eb44"; }
.ph-floppy-disk-duotone:before { content: "\eb45"; }
.ph-folder-duotone:before { content: "\eb46"; }
.ph-folder-minus-duotone:before { content: "\eb47"; }
.ph-folder-notch-duotone:before { content: "\eb48"; }
.ph-folder-notch-minus-duotone:before { content: "\eb49"; }
.ph-folder-notch-open-duotone:before { content: "\eb4a"; }
.ph-folder-notch-plus-duotone:before { content: "\eb4b"; }
.ph-folder-open-duotone:before { content: "\eb4c"; }
.ph-folder-plus-duotone:before { content: "\eb4d"; }
.ph-folder-simple-duotone:before { content: "\eb4e"; }
.ph-folder-simple-minus-duotone:before { content: "\eb4f"; }
.ph-folder-simple-plus-duotone:before { content: "\eb50"; }
.ph-folders-duotone:before { content: "\eb51"; }
.ph-fork-knife-duotone:before { content: "\eb52"; }
.ph-framer-logo-duotone:before { content: "\eb53"; }
.ph-funnel-duotone:before { content: "\eb54"; }
.ph-funnel-simple-duotone:before { content: "\eb55"; }
.ph-game-controller-duotone:before { content: "\eb56"; }
.ph-gear-duotone:before { content: "\eb57"; }
.ph-gear-six-duotone:before { content: "\eb58"; }
.ph-gif-duotone:before { content: "\eb59"; }
.ph-gift-duotone:before { content: "\eb5a"; }
.ph-git-branch-duotone:before { content: "\eb5b"; }
.ph-git-commit-duotone:before { content: "\eb5c"; }
.ph-git-diff-duotone:before { content: "\eb5d"; }
.ph-git-fork-duotone:before { content: "\eb5e"; }
.ph-git-merge-duotone:before { content: "\eb5f"; }
.ph-git-pull-request-duotone:before { content: "\eb60"; }
.ph-github-logo-duotone:before { content: "\eb61"; }
.ph-globe-duotone:before { content: "\eb62"; }
.ph-globe-hemisphere-east-duotone:before { content: "\eb63"; }
.ph-globe-hemisphere-west-duotone:before { content: "\eb64"; }
.ph-globe-simple-duotone:before { content: "\eb65"; }
.ph-globe-stand-duotone:before { content: "\eb66"; }
.ph-google-logo-duotone:before { content: "\eb67"; }
.ph-google-play-logo-duotone:before { content: "\eb68"; }
.ph-grid-four-duotone:before { content: "\eb69"; }
.ph-hand-duotone:before { content: "\eb6a"; }
.ph-hand-fist-duotone:before { content: "\eb6b"; }
.ph-hand-grabbing-duotone:before { content: "\eb6c"; }
.ph-hand-palm-duotone:before { content: "\eb6d"; }
.ph-hand-pointing-duotone:before { content: "\eb6e"; }
.ph-hand-waving-duotone:before { content: "\eb6f"; }
.ph-handbag-duotone:before { content: "\eb70"; }
.ph-handshake-duotone:before { content: "\eb71"; }
.ph-hard-drive-duotone:before { content: "\eb72"; }
.ph-hard-drives-duotone:before { content: "\eb73"; }
.ph-hash-duotone:before { content: "\eb74"; }
.ph-hash-straight-duotone:before { content: "\eb75"; }
.ph-headphones-duotone:before { content: "\eb76"; }
.ph-headset-duotone:before { content: "\eb77"; }
.ph-heart-duotone:before { content: "\eb78"; }
.ph-heart-straight-duotone:before { content: "\eb79"; }
.ph-heartbeat-duotone:before { content: "\eb7a"; }
.ph-hexagon-duotone:before { content: "\eb7b"; }
.ph-horse-duotone:before { content: "\eb7c"; }
.ph-hourglass-duotone:before { content: "\eb7d"; }
.ph-hourglass-high-duotone:before { content: "\eb7e"; }
.ph-hourglass-low-duotone:before { content: "\eb7f"; }
.ph-hourglass-medium-duotone:before { content: "\eb80"; }
.ph-hourglass-simple-duotone:before { content: "\eb81"; }
.ph-hourglass-simple-high-duotone:before { content: "\eb82"; }
.ph-hourglass-simple-low-duotone:before { content: "\eb83"; }
.ph-hourglass-simple-medium-duotone:before { content: "\eb84"; }
.ph-house-duotone:before { content: "\eb85"; }
.ph-house-line-duotone:before { content: "\eb86"; }
.ph-house-simple-duotone:before { content: "\eb87"; }
.ph-identification-card-duotone:before { content: "\eb88"; }
.ph-image-duotone:before { content: "\eb89"; }
.ph-image-square-duotone:before { content: "\eb8a"; }
.ph-info-duotone:before { content: "\eb8b"; }
.ph-instagram-logo-duotone:before { content: "\eb8c"; }
.ph-intersect-duotone:before { content: "\eb8d"; }
.ph-jeep-duotone:before { content: "\eb8e"; }
.ph-key-duotone:before { content: "\eb8f"; }
.ph-keyboard-duotone:before { content: "\eb90"; }
.ph-laptop-duotone:before { content: "\eb91"; }
.ph-leaf-duotone:before { content: "\eb92"; }
.ph-lightbulb-duotone:before { content: "\eb93"; }
.ph-lightning-duotone:before { content: "\eb94"; }
.ph-lightning-slash-duotone:before { content: "\eb95"; }
.ph-link-break-duotone:before { content: "\eb96"; }
.ph-link-duotone:before { content: "\eb97"; }
.ph-link-simple-break-duotone:before { content: "\eb98"; }
.ph-link-simple-duotone:before { content: "\eb99"; }
.ph-link-simple-horizontal-break-duotone:before { content: "\eb9a"; }
.ph-link-simple-horizontal-duotone:before { content: "\eb9b"; }
.ph-linkedin-logo-duotone:before { content: "\eb9c"; }
.ph-list-bullets-duotone:before { content: "\eb9d"; }
.ph-list-dashes-duotone:before { content: "\eb9e"; }
.ph-list-duotone:before { content: "\eb9f"; }
.ph-list-numbers-duotone:before { content: "\eba0"; }
.ph-list-plus-duotone:before { content: "\eba1"; }
.ph-lock-duotone:before { content: "\eba2"; }
.ph-lock-key-duotone:before { content: "\eba3"; }
.ph-lock-key-open-duotone:before { content: "\eba4"; }
.ph-lock-laminated-duotone:before { content: "\eba5"; }
.ph-lock-laminated-open-duotone:before { content: "\eba6"; }
.ph-lock-open-duotone:before { content: "\eba7"; }
.ph-lock-simple-duotone:before { content: "\eba8"; }
.ph-lock-simple-open-duotone:before { content: "\eba9"; }
.ph-magnifying-glass-duotone:before { content: "\ebaa"; }
.ph-magnifying-glass-minus-duotone:before { content: "\ebab"; }
.ph-magnifying-glass-plus-duotone:before { content: "\ebac"; }
.ph-map-pin-duotone:before { content: "\ebad"; }
.ph-map-pin-line-duotone:before { content: "\ebae"; }
.ph-map-trifold-duotone:before { content: "\ebaf"; }
.ph-martini-duotone:before { content: "\ebb0"; }
.ph-math-operations-duotone:before { content: "\ebb1"; }
.ph-medal-duotone:before { content: "\ebb2"; }
.ph-medium-logo-duotone:before { content: "\ebb3"; }
.ph-megaphone-duotone:before { content: "\ebb4"; }
.ph-microphone-duotone:before { content: "\ebb5"; }
.ph-microphone-slash-duotone:before { content: "\ebb6"; }
.ph-minus-circle-duotone:before { content: "\ebb7"; }
.ph-minus-duotone:before { content: "\ebb8"; }
.ph-money-duotone:before { content: "\ebb9"; }
.ph-monitor-duotone:before { content: "\ebba"; }
.ph-monitor-play-duotone:before { content: "\ebbb"; }
.ph-moon-duotone:before { content: "\ebbc"; }
.ph-moon-stars-duotone:before { content: "\ebbd"; }
.ph-mouse-duotone:before { content: "\ebbe"; }
.ph-music-note-duotone:before { content: "\ebbf"; }
.ph-music-note-simple-duotone:before { content: "\ebc0"; }
.ph-music-notes-duotone:before { content: "\ebc1"; }
.ph-music-notes-simple-duotone:before { content: "\ebc2"; }
.ph-navigation-arrow-duotone:before { content: "\ebc3"; }
.ph-newspaper-clipping-duotone:before { content: "\ebc4"; }
.ph-newspaper-duotone:before { content: "\ebc5"; }
.ph-note-blank-duotone:before { content: "\ebc6"; }
.ph-note-duotone:before { content: "\ebc7"; }
.ph-note-pencil-duotone:before { content: "\ebc8"; }
.ph-notebook-duotone:before { content: "\ebc9"; }
.ph-number-circle-eight-duotone:before { content: "\ebca"; }
.ph-number-circle-five-duotone:before { content: "\ebcb"; }
.ph-number-circle-four-duotone:before { content: "\ebcc"; }
.ph-number-circle-nine-duotone:before { content: "\ebcd"; }
.ph-number-circle-one-duotone:before { content: "\ebce"; }
.ph-number-circle-seven-duotone:before { content: "\ebcf"; }
.ph-number-circle-six-duotone:before { content: "\ebd0"; }
.ph-number-circle-three-duotone:before { content: "\ebd1"; }
.ph-number-circle-two-duotone:before { content: "\ebd2"; }
.ph-number-circle-zero-duotone:before { content: "\ebd3"; }
.ph-number-eight-duotone:before { content: "\ebd4"; }
.ph-number-five-duotone:before { content: "\ebd5"; }
.ph-number-four-duotone:before { content: "\ebd6"; }
.ph-number-nine-duotone:before { content: "\ebd7"; }
.ph-number-one-duotone:before { content: "\ebd8"; }
.ph-number-seven-duotone:before { content: "\ebd9"; }
.ph-number-six-duotone:before { content: "\ebda"; }
.ph-number-square-eight-duotone:before { content: "\ebdb"; }
.ph-number-square-five-duotone:before { content: "\ebdc"; }
.ph-number-square-four-duotone:before { content: "\ebdd"; }
.ph-number-square-nine-duotone:before { content: "\ebde"; }
.ph-number-square-one-duotone:before { content: "\ebdf"; }
.ph-number-square-seven-duotone:before { content: "\ebe0"; }
.ph-number-square-six-duotone:before { content: "\ebe1"; }
.ph-number-square-three-duotone:before { content: "\ebe2"; }
.ph-number-square-two-duotone:before { content: "\ebe3"; }
.ph-number-square-zero-duotone:before { content: "\ebe4"; }
.ph-number-three-duotone:before { content: "\ebe5"; }
.ph-number-two-duotone:before { content: "\ebe6"; }
.ph-number-zero-duotone:before { content: "\ebe7"; }
.ph-nut-duotone:before { content: "\ebe8"; }
.ph-octagon-duotone:before { content: "\ebe9"; }
.ph-package-duotone:before { content: "\ebea"; }
.ph-paint-brush-broad-duotone:before { content: "\ebeb"; }
.ph-paint-bucket-duotone:before { content: "\ebec"; }
.ph-paper-plane-duotone:before { content: "\ebed"; }
.ph-paper-plane-right-duotone:before { content: "\ebee"; }
.ph-paper-plane-tilt-duotone:before { content: "\ebef"; }
.ph-paperclip-duotone:before { content: "\ebf0"; }
.ph-paperclip-horizontal-duotone:before { content: "\ebf1"; }
.ph-path-duotone:before { content: "\ebf2"; }
.ph-pause-circle-duotone:before { content: "\ebf3"; }
.ph-pause-duotone:before { content: "\ebf4"; }
.ph-peace-duotone:before { content: "\ebf5"; }
.ph-pedestrian-duotone:before { content: "\ebf6"; }
.ph-pen-duotone:before { content: "\ebf7"; }
.ph-pen-nib-duotone:before { content: "\ebf8"; }
.ph-pencil-circle-duotone:before { content: "\ebf9"; }
.ph-pencil-duotone:before { content: "\ebfa"; }
.ph-pencil-line-duotone:before { content: "\ebfb"; }
.ph-pencil-simple-duotone:before { content: "\ebfc"; }
.ph-percent-duotone:before { content: "\ebfd"; }
.ph-phone-call-duotone:before { content: "\ebfe"; }
.ph-phone-disconnect-duotone:before { content: "\ebff"; }
.ph-phone-duotone:before { content: "\ec00"; }
.ph-phone-incoming-duotone:before { content: "\ec01"; }
.ph-phone-outgoing-duotone:before { content: "\ec02"; }
.ph-phone-slash-duotone:before { content: "\ec03"; }
.ph-phone-x-duotone:before { content: "\ec04"; }
.ph-phosphor-logo-duotone:before { content: "\ec05"; }
.ph-play-circle-duotone:before { content: "\ec06"; }
.ph-play-duotone:before { content: "\ec07"; }
.ph-plus-circle-duotone:before { content: "\ec08"; }
.ph-plus-duotone:before { content: "\ec09"; }
.ph-plus-minus-duotone:before { content: "\ec0a"; }
.ph-poker-chip-duotone:before { content: "\ec0b"; }
.ph-power-duotone:before { content: "\ec0c"; }
.ph-printer-duotone:before { content: "\ec0d"; }
.ph-prohibit-duotone:before { content: "\ec0e"; }
.ph-prohibit-inset-duotone:before { content: "\ec0f"; }
.ph-push-pin-duotone:before { content: "\ec10"; }
.ph-push-pin-slash-duotone:before { content: "\ec11"; }
.ph-puzzle-piece-duotone:before { content: "\ec12"; }
.ph-qr-code-duotone:before { content: "\ec13"; }
.ph-question-duotone:before { content: "\ec14"; }
.ph-radical-duotone:before { content: "\ec15"; }
.ph-rainbow-cloud-duotone:before { content: "\ec16"; }
.ph-rainbow-duotone:before { content: "\ec17"; }
.ph-receipt-duotone:before { content: "\ec18"; }
.ph-record-duotone:before { content: "\ec19"; }
.ph-rectangle-duotone:before { content: "\ec1a"; }
.ph-reddit-logo-duotone:before { content: "\ec1b"; }
.ph-repeat-duotone:before { content: "\ec1c"; }
.ph-repeat-once-duotone:before { content: "\ec1d"; }
.ph-rewind-circle-duotone:before { content: "\ec1e"; }
.ph-rocket-duotone:before { content: "\ec1f"; }
.ph-rocket-launch-duotone:before { content: "\ec20"; }
.ph-rows-duotone:before { content: "\ec21"; }
.ph-rss-duotone:before { content: "\ec22"; }
.ph-rss-simple-duotone:before { content: "\ec23"; }
.ph-scissors-duotone:before { content: "\ec24"; }
.ph-screencast-duotone:before { content: "\ec25"; }
.ph-share-duotone:before { content: "\ec26"; }
.ph-share-network-duotone:before { content: "\ec27"; }
.ph-shield-check-duotone:before { content: "\ec28"; }
.ph-shield-chevron-duotone:before { content: "\ec29"; }
.ph-shield-duotone:before { content: "\ec2a"; }
.ph-shield-slash-duotone:before { content: "\ec2b"; }
.ph-shield-warning-duotone:before { content: "\ec2c"; }
.ph-shopping-bag-duotone:before { content: "\ec2d"; }
.ph-shopping-bag-open-duotone:before { content: "\ec2e"; }
.ph-shopping-cart-duotone:before { content: "\ec2f"; }
.ph-shopping-cart-simple-duotone:before { content: "\ec30"; }
.ph-shuffle-angular-duotone:before { content: "\ec31"; }
.ph-shuffle-duotone:before { content: "\ec32"; }
.ph-shuffle-simple-duotone:before { content: "\ec33"; }
.ph-sign-in-duotone:before { content: "\ec34"; }
.ph-sign-out-duotone:before { content: "\ec35"; }
.ph-sketch-logo-duotone:before { content: "\ec36"; }
.ph-skip-back-circle-duotone:before { content: "\ec37"; }
.ph-skip-back-duotone:before { content: "\ec38"; }
.ph-skip-forward-circle-duotone:before { content: "\ec39"; }
.ph-skip-forward-duotone:before { content: "\ec3a"; }
.ph-slack-logo-duotone:before { content: "\ec3b"; }
.ph-sliders-duotone:before { content: "\ec3c"; }
.ph-sliders-horizontal-duotone:before { content: "\ec3d"; }
.ph-smiley-blank-duotone:before { content: "\ec3e"; }
.ph-smiley-duotone:before { content: "\ec3f"; }
.ph-smiley-meh-duotone:before { content: "\ec40"; }
.ph-smiley-nervous-duotone:before { content: "\ec41"; }
.ph-smiley-sad-duotone:before { content: "\ec42"; }
.ph-smiley-sticker-duotone:before { content: "\ec43"; }
.ph-smiley-x-eyes-duotone:before { content: "\ec44"; }
.ph-snowflake-duotone:before { content: "\ec45"; }
.ph-sort-ascending-duotone:before { content: "\ec46"; }
.ph-sort-descending-duotone:before { content: "\ec47"; }
.ph-spade-duotone:before { content: "\ec48"; }
.ph-speaker-high-duotone:before { content: "\ec49"; }
.ph-speaker-low-duotone:before { content: "\ec4a"; }
.ph-speaker-none-duotone:before { content: "\ec4b"; }
.ph-speaker-simple-high-duotone:before { content: "\ec4c"; }
.ph-speaker-simple-low-duotone:before { content: "\ec4d"; }
.ph-speaker-simple-none-duotone:before { content: "\ec4e"; }
.ph-speaker-simple-slash-duotone:before { content: "\ec4f"; }
.ph-speaker-simple-x-duotone:before { content: "\ec50"; }
.ph-speaker-slash-duotone:before { content: "\ec51"; }
.ph-speaker-x-duotone:before { content: "\ec52"; }
.ph-square-duotone:before { content: "\ec53"; }
.ph-square-half-duotone:before { content: "\ec54"; }
.ph-squares-four-duotone:before { content: "\ec55"; }
.ph-stack-duotone:before { content: "\ec56"; }
.ph-stack-simple-duotone:before { content: "\ec57"; }
.ph-star-duotone:before { content: "\ec58"; }
.ph-sticker-duotone:before { content: "\ec59"; }
.ph-stop-circle-duotone:before { content: "\ec5a"; }
.ph-stop-duotone:before { content: "\ec5b"; }
.ph-storefront-duotone:before { content: "\ec5c"; }
.ph-suitcase-duotone:before { content: "\ec5d"; }
.ph-suitcase-simple-duotone:before { content: "\ec5e"; }
.ph-sun-dim-duotone:before { content: "\ec5f"; }
.ph-sun-duotone:before { content: "\ec60"; }
.ph-sun-horizon-duotone:before { content: "\ec61"; }
.ph-swatches-duotone:before { content: "\ec62"; }
.ph-sword-duotone:before { content: "\ec63"; }
.ph-table-duotone:before { content: "\ec64"; }
.ph-tag-duotone:before { content: "\ec65"; }
.ph-tag-simple-duotone:before { content: "\ec66"; }
.ph-target-duotone:before { content: "\ec67"; }
.ph-telegram-logo-duotone:before { content: "\ec68"; }
.ph-terminal-duotone:before { content: "\ec69"; }
.ph-text-align-center-duotone:before { content: "\ec6a"; }
.ph-text-align-justify-duotone:before { content: "\ec6b"; }
.ph-text-align-left-duotone:before { content: "\ec6c"; }
.ph-text-align-right-duotone:before { content: "\ec6d"; }
.ph-text-bolder-duotone:before { content: "\ec6e"; }
.ph-text-italic-duotone:before { content: "\ec6f"; }
.ph-text-strikethrough-duotone:before { content: "\ec70"; }
.ph-text-t-duotone:before { content: "\ec71"; }
.ph-text-underline-duotone:before { content: "\ec72"; }
.ph-thermometer-cold-duotone:before { content: "\ec73"; }
.ph-thermometer-duotone:before { content: "\ec74"; }
.ph-thermometer-hot-duotone:before { content: "\ec75"; }
.ph-thermometer-simple-duotone:before { content: "\ec76"; }
.ph-thumbs-down-duotone:before { content: "\ec77"; }
.ph-thumbs-up-duotone:before { content: "\ec78"; }
.ph-ticket-duotone:before { content: "\ec79"; }
.ph-timer-duotone:before { content: "\ec7a"; }
.ph-tote-duotone:before { content: "\ec7b"; }
.ph-train-duotone:before { content: "\ec7c"; }
.ph-train-regional-duotone:before { content: "\ec7d"; }
.ph-train-simple-duotone:before { content: "\ec7e"; }
.ph-translate-duotone:before { content: "\ec7f"; }
.ph-trash-duotone:before { content: "\ec80"; }
.ph-trash-simple-duotone:before { content: "\ec81"; }
.ph-tray-duotone:before { content: "\ec82"; }
.ph-trend-down-duotone:before { content: "\ec83"; }
.ph-trend-up-duotone:before { content: "\ec84"; }
.ph-triangle-duotone:before { content: "\ec85"; }
.ph-truck-duotone:before { content: "\ec86"; }
.ph-twitch-logo-duotone:before { content: "\ec87"; }
.ph-twitter-logo-duotone:before { content: "\ec88"; }
.ph-upload-duotone:before { content: "\ec89"; }
.ph-upload-simple-duotone:before { content: "\ec8a"; }
.ph-user-circle-duotone:before { content: "\ec8b"; }
.ph-user-circle-gear-duotone:before { content: "\ec8c"; }
.ph-user-circle-minus-duotone:before { content: "\ec8d"; }
.ph-user-circle-plus-duotone:before { content: "\ec8e"; }
.ph-user-duotone:before { content: "\ec8f"; }
.ph-user-gear-duotone:before { content: "\ec90"; }
.ph-user-minus-duotone:before { content: "\ec91"; }
.ph-user-plus-duotone:before { content: "\ec92"; }
.ph-user-rectangle-duotone:before { content: "\ec93"; }
.ph-user-square-duotone:before { content: "\ec94"; }
.ph-users-duotone:before { content: "\ec95"; }
.ph-vibrate-duotone:before { content: "\ec96"; }
.ph-video-camera-duotone:before { content: "\ec97"; }
.ph-video-camera-slash-duotone:before { content: "\ec98"; }
.ph-voicemail-duotone:before { content: "\ec99"; }
.ph-warning-circle-duotone:before { content: "\ec9a"; }
.ph-warning-duotone:before { content: "\ec9b"; }
.ph-warning-octagon-duotone:before { content: "\ec9c"; }
.ph-watch-duotone:before { content: "\ec9d"; }
.ph-whatsapp-logo-duotone:before { content: "\ec9e"; }
.ph-wheelchair-duotone:before { content: "\ec9f"; }
.ph-wifi-high-duotone:before { content: "\eca0"; }
.ph-wifi-low-duotone:before { content: "\eca1"; }
.ph-wifi-medium-duotone:before { content: "\eca2"; }
.ph-wifi-none-duotone:before { content: "\eca3"; }
.ph-wifi-slash-duotone:before { content: "\eca4"; }
.ph-wifi-x-duotone:before { content: "\eca5"; }
.ph-wind-duotone:before { content: "\eca6"; }
.ph-wrench-duotone:before { content: "\eca7"; }
.ph-x-circle-duotone:before { content: "\eca8"; }
.ph-x-duotone:before { content: "\eca9"; }
.ph-x-square-duotone:before { content: "\ecaa"; }
.ph-youtube-logo-duotone:before { content: "\ecab"; }
